body {
    font-family: Avenir, sans-serif;
    margin: 2rem auto;
    width: 95%;
    background: #f2f2f2;
    font-size: 16px;
}
form {
    padding-bottom: 20px;
}
h1 {
    color: #293462;
    text-align: center;
    font-size: 60px;
    font-family: "Rock Salt", cursive;
    margin: 0;
}
h1 img {
    height: 60px;
}
p {
    color: #293462;
    margin-top: 0;
}
h1 span {
    color: #f76262;
}
div.main {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    grid-template-rows: auto;
}

.card {
    position: relative;
    border: 1px solid #333333;
    overflow: hidden;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover {
    box-shadow: #ccc 4px 2px 16px;
    opacity: 0.8;
}
.card img {
    object-fit: cover;
    width: auto;
    height: 100%;
    height: -moz-available; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    align-items: center;
}
.card .wrap_p {
    position: absolute;
    bottom: 0;
    background: #333333;
    height: 10%;
    width: 100%;
    left: 0;
}
.card p {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: #f2f2f2;
}
#upload_wrap {
    text-align: center;
}
#upload_wrap input,
#upload_wrap input[type="text"] {
    width: 15%;
    border: 1px solid #ccc;
    padding: 5px;
    color: #333;
}
#upload_wrap input[type="file" i] {
    border: 0;
}
#upload_wrap input[type="file" i] button {
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    color: #f76262;
    z-index: 1000;
    margin: 0;
}

#innermodalbox {
    background: white;
    position: fixed;
    top: 3%;
    left: 1.5%;
    bottom: 0;
    right: 0;
    padding: 2%;
    overflow-y: auto;
    width: 93%;
    height: 86%;
    box-shadow: 4px 3px 9px #333;
}
#innermodalbox img {
    width: auto;
}
#innermodalbox h2 {
    font-size: 20px;
    color: #293462;
}
#bg-modal {
    background: #000;
    opacity: 0.7;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.closebtn {
    top: 5%;
    right: 3%;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    color: #293462;
    cursor: pointer;
    border: 1px solid #293462;
    background: #f2f2f2;
    padding: 5px 10px;
}
.closebtn:hover {
    color: #f76262;
    border: 1px solid #f76262;
}
#loadmorebtn {
    margin: 20px 0;
    padding: 15px 62px 15px 30px;
    background: #f76262;
    border: 0;
    font-size: 16px;
    color: #f2f2f2;
    position: relative;
}
#loadmorebtn img {
}
#loadmorebtn:hover {
    background: #293462;
}
#ricebowl {
    position: absolute;
    height: 30px;
    top: 8px;
    right: 23px;
}
