body {
    font-family: Avenir, sans-serif;
    margin: 2rem auto;
    width: 95%;
}
form {
    padding-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    grid-template-rows: auto;
}

.card {
    position: relative;
    border: 1px solid #24292e;
    overflow: hidden;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover {
    box-shadow: #ccc 4px 2px 16px;
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
}
.card .wrap_p {
    position: absolute;
    bottom: 0;
    background: #24292e;
    height: 15%;
    width: 100%;
    opacity: 0.8;
}
.card p {
    margin: 0;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    color: #fff;
}
